#product1 .pro{
    /* width:23%; */
    min-width:220px;
    padding:10px 12px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgb(0, 0, 0,0.02);
    transition: 0.2s ease;
    margin:15px 0;
    position: relative;
}

#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgb(0, 0, 0,0.06);
}

#product1 .pro img{
    width:100%;
}

#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span{
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 16px;
}

#product1 .pro .des i{
    font-size: 14px;
    padding-top: 3px;
    color:yellow;
}

#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 16px;
    font-weight: 700;
    color: #088178;
}

#product1 .pro .cart{
    width:40px;
    height:40px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    color: #088178;
    position: absolute;
    bottom: 20px;
    right: 20px;
}