/* Color Template*/
.color-primary{
    color:$color-primary;
}

.bg-color{
    background-color: $bg-color;
}

.color-primary-bg{
    background:$color-primary;
}

.color-second{
    color:$color-second;
}

.color-second-bg{
    background:$color-second;
}

.color-yellow{
    color:$color-yellow;
}

.color-yellow-bg{
    background:$color-yellow;
}

.color-link{
    color:$color-link;
}

.color-link-bg{
    background: $color-link;
}

