$font-baloo:"Baloo Thambi 2",cursive;
$font-raleway:"Raleway",cursive;
$font-rubik:"Rubik",cursive;
$color-primary:#003859;
$color-second:#adb5bd;
$color-link:#3366cc;
$color-yellow:#FFD289;
$bg-color:#212529;